@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
    font-family: 'Afacad Flux', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header container geral */
.header {
    background-color: #1f1f1f;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    align-items: center; /* Alinha verticalmente no centro */
    font-size: 1.5rem;
}

/* Links do header */
.header a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    display: flex;
    align-items: center; /* Garante que os ícones estejam alinhados ao centro */
}

.header a:hover {
    color: rgb(255, 115, 0);
    font-weight: 600;
    cursor: pointer;
}

/* Estilo da logo */
.header img {
    max-width: 8rem;
}

/* Espaçamento entre os ícones e navegação */
.header nav {
    display: flex;
    gap: 20px; /* Espaçamento entre os links */
}

/* Ícones de modo, acessibilidade, perfil */
.header div {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaçamento entre os ícones */
}

.toggle-mode {
    margin-left: 20px;
}

.dropdown-menu {
    display: none;
    right: 0;
    background-color: #1f1f1f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: white; /* Texto branco para os itens */
  }


.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    color: rgb(255, 115, 0);
}

.footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.card-custom {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Modo Claro */
body.light-mode {
    background: #fff;
    color: #000;
}

body.light-mode header {
    background-color: #1f1f1f;
    color: #fff;
}

body.light-mode header a {
    color: #fff;
}

/* Modo Escuro */
body.dark-mode {
    background: #1f1f1f;
    color: #fff;
}

body.dark-mode header {
    background-color: #fff;
    color: #1f1f1f;
}

body.dark-mode header a {
    color: #1f1f1f;
}

body.dark-mode .section {
    background: #fff;
}

body.dark-mode .slogan p {
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #1f1f1f;
}

/* Acessibilidade */
.acessibilidade-menu {
    position: fixed;
    top: 6rem;
    right: 0.4rem;
    z-index: 1700;
    margin-bottom: 1rem;
    width: 10rem;
}

.btn-acessibilidade {
    margin-left: 10px;
}

/* Centraliza logo e slogan */
.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: unset;
    align-items: center;
    height: 50vh;
    text-align: center;
}

.main-container img {
    max-width: 40rem;
    margin-bottom: 20px;
}

.logo-container {
    height: 30vh;
}

.slogan {
    font-size: 2.5rem;
}


/* Seções de navegação */
.section {
    padding: 80px 20px;
    text-align: center;
    background-color: #1f1f1f;
    margin-top: 10rem;
    justify-content: unset;
    color: #1f1f1f;
    height: 100%;
    transition: background-color 0.7s ease;
    background: 1f1f1f;
}

.section:nth-of-type(even) {
    background-color: #fff;
}

.section h5 {
    font-size: 2.3rem;
    font-weight: 600;
    color: rgb(255, 115, 0);
    margin-bottom: 1rem;
}

.section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255, 115, 0);
    margin-bottom: 3rem;
}

.section p {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section a {
    font-size: 1.1rem;
    color: rgb(255, 115, 0);
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

.card-grid {
    margin-top: 8rem;
}

.card {
    height: 95%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input.form-control {
    width: 300px;
    max-width: 100%;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.error-message {
    color: red;
    text-align: center;
}

.btn-login {
    width: 100%;
}

.options {
    text-align: center;
    margin-top: 1rem;
}

.options a {
    display: block;
    margin-bottom: 0.5rem;
    color: rgb(255, 115, 0);
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* Modal */
.modal-content {
    padding: 1rem;
    justify-content: center;
}

.footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 20px;
}